<!DOCTYPE html>
<html lang="pr-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Netzon+</title>
</head>

<body>
    <nav>
        <img src="/img/logo net.png" class="img-fluid gif" >
        <ul>
            <li>
                <a href="/criar">Cadastrar Filme    </a>
                <a href="#">Página Inicial</a>
            </li>
        </ul>
    </nav>

    <% if(message != "") {  %>
        <section id="message">
            <p><%= message %></p> <span id="close">&times;</span>
        </section>
    <% }  %>

    <header>
        <article>
            <img src="/img/Logo-Netzon.gif" class="img-fluid gif">
        </article>
    </header>

    <section id="titulos">
        <h2>Lista de filmes:</h2>
    </section>

    <section id="destaques">
        <% filmes.forEach(item => { %>
            <section class="card">
                <article id="content">
                    <ul>
                        <span id="tituloFilmes">
                            <li><%= item.filmes_nome %></li>
                        </span>
                        <li id="desc">Descrição: <%= item.filmes_descricao %></li>
                        <a href="/detalhes/<%= item.id %>">
                            <img src="<%= item.filmes_imagem %>" width=200>
                        </a>
                    </ul>
                        <span id="botaoEditar">
                        <a href = "/editar/<%= item.id %>">Editar</a>
                        </span>
                </article>
            </section>
        <% }) %> 
    </section>
    
    <footer>
        <p>
            <br>
            <br>
            <br>
            <br>
            Copyright Netzon+. Todos os direitos reservados. <br>
            Desenvolvedores <a href="https://instagram.com/rafmob" target="_blank"> Rafael Mendes</a>
        </p>
    </footer>
    <script src="/js/script.js"></script>
</body>

</html>
